* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: rgb(32, 32, 32);
  color: rgb(235, 235, 235);
}

#lobby {
  display: flex;
  height: 100vh;
}

#userDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#userForm {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

#userInput {
  text-align: center;
  padding: 5px;
  margin: 5px 0;
}

#userInput:focus {
  outline: none;
}

#userForm button {
  padding: 5px;
  border: 0px;
  background-color: rgb(44, 44, 44);
  border: none;
  color: rgb(235, 235, 235);
  transition: 0.1s;
}

#userForm button:hover {
  background-color: rgb(49, 49, 49);
  transition: 0.1s;
}

#chatSide {
  background-color: rgb(29, 29, 29);
  padding: 10px;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

#players {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#messageInput {
  width: 300px;
  padding: 5px 0px;
  padding-left: 3px;
  margin-top: 5px;
}
#messageInput:focus {
  outline: none;
}

#messageForm button {
  width: 75px;
  padding: 7px 0px;
  border: 0px;
  background-color: rgb(44, 44, 44);
  border: none;
  color: rgb(235, 235, 235);
  transition: 0.1s;
}

ul {
  list-style: none;
}

/* -- Game -- */
#gameSide {
  flex: 1; /* Tar resten av bredden */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rolls,
#sum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#rolls p {
  margin: 0 5px;
}

#rollButton {
  width: 75px;
  padding: 7px 0px;
  margin: 10px;
  border: 0px;
  background-color: rgb(44, 44, 44);
  border: none;
  color: rgb(235, 235, 235);
  transition: 0.1s;
}

#rollButton:hover {
  background-color: rgb(49, 49, 49);
  transition: 0.1s;
}
